doctype html
html(lang="en")
  head
    block title
      title Webhook Tester
    link(rel="stylesheet", href="/__admin/style.css")
  body
    block sidebar
      include includes/sidebar.pug
    block content
    footer
      p Copyright 2024 Luke Turner