doctype html
html(lang="en")
  head
    block title
      title Webhook Tester
    link(rel="stylesheet", href="/__admin/style.css")
  body
    nav
      a(href="/__admin") Webhook Tester
    .sidebar
      block sidebar
        include includes/sidebar.pug
    main
      block content
    footer Copyright 2024 Luke Turner - <a href="https://github.com/luketurner/webhook-tester">source</a>