li { list-style: none; }

body {
  display: grid;
  grid-template:
    'header header' min-content
    'sidebar main' 1fr
    'footer footer' min-content / 1fr 3fr;
  height: 100vh;
  margin: 0;
}

nav { grid-area: header; margin: 1rem; vertical-align: middle; }
footer { grid-area: footer; }
.sidebar { grid-area: sidebar; padding: 1rem; overflow-y: auto; }
.sidebar-item {
  display: grid;
  padding: 0.5rem 0 0.5rem 0;
  gap: 0.25rem;
  grid-template:
    'id id id' 1fr
    'method url status' 1fr / min-content 1fr 3rem;
}
.sidebar-item-id { grid-area: id; display: flex; flex-flow: row nowrap; justify-content: space-between; }
.sidebar-item-method { grid-area: method; }
.sidebar-item-url { grid-area: url; }
.sidebar-item-status { grid-area: status; text-align: right; }
main { grid-area: main; margin: 1rem; }
.sidebar a, nav a { color: inherit; text-decoration: inherit; }